APP_NAME=Ger Translator
APP_ENV=development
MAX_UPLOAD_SIZE_MB=20
HISTORY_LIMIT=8
DEEPL_API_KEY=
DEEPL_API_URL=https://api-free.deepl.com/v2/translate
CEFR_API_ENABLED=1
CEFR_API_URL=https://cental.uclouvain.be/cefrlex/daflex/analyse/
CEFR_API_TIMEOUT_SECONDS=12
